
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Inconsolata&display=swap');
.portfolio-box{
    margin: 0 auto;
    margin-top: 2.5%;
    background-color: #e2e9ee;
    width: 90%;
    padding: 2.5%;
    color: #555;
    font-family: 'Bitter', serif;
  }
span{
    color: #6735dd;
}
p{
    margin: 0;
}
/* INTRO COMPONENT  */
nav > p{
    padding-left: 5%;
}
.nav-text > .code-text{
    text-indent: 5%;
}
.nav-text > nav{
    font-size: 2em;
    padding-left: 3%;
}
.picture{
    /* text-align: center;  mobile*/
    margin-top: 20px;
    display: flex;
    width: 84%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.picture > p{
    padding: 0px 10px;
}
img{
    border-radius: 50%;
    width:300px;
    height:300px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    background-color: #6735dd;
    cursor: pointer;
}
.div{
    display: flex;
    justify-content: center;
}
.greetings{
    width: 60%;
    margin: 0px auto;
}
.greetings > h1{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 5px;
}
.greetings > p{
    text-indent: -5.5%;
}
.who-i-am{
    font-size: 2em;
    text-indent: 7%;
}
.who-i-am > h3{
    margin-top: 0;
    margin-bottom: 5px;
}
.code-text{
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    /* color: #c9c8ea; */
}
/* ABOUT COMPONENT  */
.about-section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about{
    width: 66.5%;
}
.about > h2{
    margin: 5px 0px;
    font-size: 2.4em;
    text-indent: 5%;
}
.about-text{
    font-size: 1.5em;
    padding: 5px 0px;
    padding-left: 5%;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.icons > p {
    font-size: 0.5em;
    letter-spacing: 2px;
}
.fa{
    padding: 5px;
    color: #6735dd;
}
.btn{
    margin: 5px 0px;
    margin-left: 5%;
    font-size: 1.5em;
    padding: 10px 25px;
    border: 2px solid #6735dd;
    border-radius: 16px;
    background-color: #eee;
    color: #6735dd;

}
.btn:hover{
    background:#6735dd;
    color:#fff;
    border: 2px  solid #6735dd;
    cursor:pointer;
}
/* SKILLS SECTION  */

.skill-box{

    width: 30%;
    height: 300px;
    border-radius: 32px;
    border: 1px  solid black;
}
.top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
    height: 50px;
    border-radius: 32px 32px  0px 0px ;
}
  
  /* @keyframes rotate{
    from {
      transform: rotate(0deg);
    }
    to {
      background:;
    }
  } */